<div class="card">
        @for(book of books; track book){
        <p-card header={{book.title}} subheader={{book.author}} [style]="{ width: '25rem', overflow: 'hidden' }">
            <ng-template pTemplate="header">
                <img alt="Card" class="w-full" src={{book.cover}} />
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="flex gap-4 mt-1">
                    <p-button (click)="showDialog(book)" class="btn-card-expand" label="Details" severity="contrast"/>
                    <p-button class="btn-card-update" label="Update" severity="contrast"/>
                </div>
            </ng-template>
        </p-card>  
    }
</div>
<app-book-dialog [visible]="visible" (close)="hideDialog()" [selectedBook]="selectedBook"></app-book-dialog>

