.container{
    width: 100%;
    background-color: #290001;
    margin: auto;
    height: 100vh;    
}

.login-container{
    width: 500px;
    margin: auto;
    padding: 50px;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 50%;
}

form, input{
    margin-bottom: 15px;
}

.title-form{
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

