main{
    background-color: #DBCBBD;
}

.filter{
    display: flex;
    justify-content: flex-start;
    padding: 25px;
}

.input-filter{
    width: 400px;
}

.image{
    background-image: url('../../../../public/assets/library.webp');
    height: 200px;
    width: auto;
    margin-bottom: 20px;
}

.search-container{
    margin-top: 40px;
}