<div class="container">    
    <section class="form-container">

            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                
                <h3 class="title-form">Fill the form: </h3>
                
                <label>Name: </label>
                <input formControlName="name" type="text" pInputText maxlength="50" />
                @if(userForm.get('name')?.invalid && userForm.get('name')?.touched) {
                    <span>the name field is invalid.</span>
                }

                @if(!lengthValidator(userForm.get('name')?.value, 5) && userForm.get('name')?.touched) {
                    <span>Name must have more than 5 characters and less than 50.</span>
                }

                <label>CPF: </label>
                <input formControlName="cpf" type="text" pInputText/>
                @if(userForm.get('cpf')?.invalid && userForm.get('cpf')?.touched) {
                    <span>the cpf field is required.</span>
                }
                @if(cpfValidator(userForm.get('cpf')?.value) === false && userForm.get('cpf')?.touched) {
                    <span>cpf invalid.</span>
                }

                <label>E-mail: </label>
                <input formControlName="email" type="text" pInputText />
                @if(userForm.get('email')?.invalid && userForm.get('email')?.touched) {
                    <span>the email field is invalid.</span>
                }

                <label>Password: </label>
                <p-password formControlName="password" [toggleMask]="true"/>
                @if(userForm.get('password')?.invalid && userForm.get('password')?.touched) {
                    <span>the password field is required.</span>
                }

                @if(!lengthValidator(userForm.get('password')?.value, 6, 8) && userForm.get('password')?.touched) {
                    <span>password must have more than 6 characters and less than 8.</span>
                }
                
                <label>Repeat your Password: </label>
                <p-password formControlName="passwordverification" [toggleMask]="true"/> 
                @if(userForm.get('passwordverification')?.invalid && userForm.get('passwordverification')?.touched) {
                    <span>the password confirmation field is required.</span>
                }            
                @if(userForm.get('password')?.value !== userForm.get('passwordverification')?.value && userForm.get('passwordverification')?.touched){
                    <small class="erro">password Mismatched</small>
                }                

                <p-button 
                severity="secondary" 
                label="Send" 
                type="submit" 
                [disabled]="!userForm.valid" 
                />
        </form>
    </section>
</div>